body{
    background-color:coral ;
    z-index: 0;
    overflow: hidden;
}


.stage{
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    height: 550px;
    width: 1000px;
    z-index: 0;
    background-color: #526079;
}

.circle{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 4;
}
.player1{
    bottom: 0px;
    left: 150px;
}
.player2{
    bottom: 0px;
    right: 150px;
}
.ball{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 3;
    left: 485px;
    top: 20%;
}

canvas{
    position: absolute;
}

.foot{
    position: absolute;
    top: 56px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, 0);;
    border-radius: 50%;
    z-index: 2;
}
.p1{
    left: 35px;
    transform: rotate(25deg);
}

.p2{
    right: 35px;
    transform: rotate(-25deg);
}

.goal{
    position: absolute;
    border-top: 10px solid white;
    height: 165px;
    width: 80px;
    bottom: 0px;
    z-index: 10;

}
.left{
    left: 5px;
    border-left: 2px solid white;
    border-right: 10px solid white;
}
.right{
    right: 5px;
    border-right: 2px solid white;
    border-left: 10px solid white;
}

.bar{
    position: absolute;
    top: -10px;
    height: 10px;
    width: 81px;
}
.L{
    left: -1px;
}
.R{
    right: -1px;
}

.frontBarL{
    position: absolute;
    top: -10px;
    height: 10px;
    width: 10px;
    right: -10px;
}

.frontBarR{
    position: absolute;
    top: -10px;
    height: 10px;
    width: 10px;
    left: -10px;
}

.score{
    position: absolute;
    top: 5px;
    left: 370px;
    height: 55px;
    width: 260px;
    border: 2px solid white;
    text-align: center;
    font-size: 3em;
    word-spacing: 40px;
    background-color: black;
    color: orange;
    font-family:'Lucida Grande', sans-serif;
}

em{
    position: absolute;
    font-size: 5em;
    top:200px;
    left: -880px;
    overflow-x: hidden;
    color: white;

}

.postL{
    position: absolute;
    left: -2px;
    height: inherit;
    width: 2px;
}

.postR{
    position: absolute;
    right:  -2px;
    height: inherit;
    width: 2px;;
}

.field{
    position: absolute;
    width: 1000px;
    background-color: lawngreen;
    height: 100px;
    bottom: -40px;
    left: -2px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.center{
    position: absolute;
    width: 90px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    top: 23px;
    left: 453px;
}

.line{
    position: absolute;
    height: inherit;
    top: 0px;
    width: 4px;
    background-color: white;
    left: 498px;
}

.spot{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: white;
    top: 44px;
    left: 494px;
    border-radius: 50%;
}

.panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 248px;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin-top: 20px;
    background-color: lemonchiffon;
    z-index: 15;
    text-align: center;
    font-size: 2.5em;
}

.panel:hover{
    background-color: wheat;
}

.box{
    position: absolute;
    bottom: -20px;
    height: 60px;
    width: 200px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.Left{
    left: 10px;
    border-right: 4px solid white;
}

.Right{
    right: 10px;
    border-left: 4px solid white;
}

.net{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.player_img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 105%;
    width: 105%;
    z-index: 1;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.shoeL{
    position: absolute;
    width: 30px;
    height: 150%;
    top: -7px;
    left: -10px;
}

.shoeR{
    position: absolute;
    width: 30px;
    height: 150%;
    top: -7px;
    right: -10px;
}

.crowd{
    position: absolute;
    width: inherit;
    height: 70%;
    bottom: 55px;
    border-top: 2px solid white;
}

.confetti{
    position: absolute;
    width: inherit;
    height: 300px;
    top: -500px;
    z-index: 5;
    overflow-y: hidden;
}

.instructions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;            
    text-align: center;
    width: 80px;
    height: 100px;
    border: 2px solid black;
    top: 5px;
    background-color: white;
    border-radius: 20%;
}

.LLL{
    position: absolute;
    left:5px;
}

.instructions:hover{
    background-color: goldenrod;
}

.RRR{
    position: absolute;
    right: 5px;
}

.buttons{
    display: block;
    position: relative;
    top: -45px;
}

.button{
    position: relative;
    display: inline-block;           
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 35px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10%;
    z-index: 10;
}

.buttonImg{
    position: absolute;
    width: 80%;
    margin-top: 4px;
    margin-left: 5px;
    height: 80%;
    left: 0px;
    z-index: 11;
}

.currtan{
    position: absolute;
    top:  590px;
    width: inherit;
    height: 1000px;
    overflow: hidden;
    background-color: coral;
    left: 0px;
    z-index: 20;
}







